*{
	font-family: 'Noto Sans KR', sans-serif;
	outline: none;
	font-weight: 200;
}

body{
	background-color: white;
}

.load_page{
    position: absolute;
    left: 50%;
	transform: translateX(-50%);
	top: 0;
}


.theme_list{
	position: relative;
	background-color: rgb(173, 173, 173);
	border-radius: 40px 40px 40px 40px;
	width: 300px;
	margin: auto;
}
